<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      th:replace="~{base :: layout(~{::section})}">
<head>
    <meta charset="UTF-8">
    <title>Home | Smart Contact Manager</title>
</head>
<body>

<section class="banner d-flex justify-content-center align-items-center">
    <div class="text-center text-white">
        <h1 class="fw-bold">Welcome to Smart Contact Manager</h1>
        <h3 class="mt-2">Stay Connected, Stay Organized</h3>
       <!--  <p class="mt-3">
            Smart Contact Manager helps you safely store and organize all your
            contacts in one place with a secure, easy-to-use web application.
        </p>
 -->
        <a th:href="@{/login}">
            <button type="button" class="btn bg-primary btn-lg text-white mt-3">
                GET STARTED
            </button>
        </a>
    </div>
</section>

</body>
</html>
